# Final Preprocessing
This notebook aim to preprocess dataset from csv to numpy array that ready to be train-test-split.  
I did some additional preprocessing that i haven't done in other notebook here (such as replacing value etc) and save it as secondhalf_v4.  
Here's some details:

input:
- dataset/secondhalf_v3.csv -> SecondHalf dataset from prev notebook (idk which one hehe)

output:
- outputs/OHE_encoder_second_v3.joblib -> final encoder that will used on the website
- outputs/MM_scaler_second_v2.joblib -> final scaler that will used on the website
- outputs/dataset_for_kaggle.csv -> dataset in pd.DataFrame form (encoded, scaled) that i use to test shap on kaggle
- dataset/secondhalf_v4.csv -> dataset final that will uploaded to database for website

# Import Libs and Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_second = pd.read_csv('dataset/secondhalf_v3.csv')
df_second.info()
df_second.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16948 entries, 0 to 16947
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   is_holiday           16948 non-null  object
 1   air_pollution_index  16948 non-null  float64
 2   humidity             16948 non-null  float64
 3   wind_speed           16948 non-null  float64
 4   wind_direction       16948 non-null  float64
 5   visibility_in_miles  16948 non-null  float64
 6   dew_point            16948 non-null  float64
 7   temperature          16948 non-null  float64
 8   rain_p_h             16948 non-null  float64
 9   snow_p_h             16948 non-null  float64
 10  clouds_all           16948 non-null  float64
 11  weather_type         16948 non-null  object
 12  weather_description  16948 non-null  object
 13  traffic_volume       16948 non-null  float64
 14  date_time            16948 non-null  object
dtypes: float64(11), object(4)
memory usage: 1.9+ MB

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,date_time
0,not_holiday,282.0,65.0,3.0,327.000000,5.000000,5.000000,287.586000,0.0,0.0,92.000000,Rain,light rain,2886.000000,2015-06-11 20:00:00
1,not_holiday,273.0,65.0,3.0,326.909091,5.045455,5.045455,288.038591,0.0,0.0,87.818182,Rain,light rain,2953.909091,2015-06-11 21:00:00
2,not_holiday,264.0,65.0,3.0,326.818182,5.090909,5.090909,288.491182,0.0,0.0,83.636364,Rain,light rain,3021.818182,2015-06-11 22:00:00
3,not_holiday,255.0,65.0,3.0,326.727273,5.136364,5.136364,288.943773,0.0,0.0,79.454545,Rain,light rain,3089.727273,2015-06-11 23:00:00
4,not_holiday,246.0,65.0,3.0,326.636364,5.181818,5.181818,289.396364,0.0,0.0,75.272727,Clear,sky is clear,3157.636364,2015-06-12 00:00:00

In [3]:
df_second['weather_description'].value_counts()

weather_description
sky is clear                              6310
overcast clouds                           1998
scattered clouds                          1243
broken clouds                             1157
mist                                      1014
light rain                                 964
light snow                                 964
few clouds                                 682
haze                                       571
light intensity drizzle                    514
drizzle                                    440
fog                                        415
moderate rain                              258
heavy intensity rain                       170
proximity thunderstorm                      51
proximity shower rain                       33
('light rain', 'sky is clear')              24
('light intensity drizzle', 'drizzle')      24
heavy intensity drizzle                     24
('light rain', 'few clouds')                24
('few clouds', 'few clouds')                24
thunderstorm                                14
snow                                         9
thunderstorm with light rain                 4
heavy snow                                   4
very heavy rain                              4
light shower snow                            4
light intensity shower rain                  3
SQUALLS                                      1
freezing rain                                1
Name: count, dtype: int64

In [4]:
df_second['weather_type'].value_counts()

weather_type
Clear                   6271
Clouds                  5206
Mist                    1562
Rain                    1191
Drizzle                 1043
Snow                     605
Haze                     545
Fog                      360
Thunderstorm              69
('Rain', 'Clear')         24
('Rain', 'Clouds')        24
('Clouds', 'Clouds')      24
('Drizzle', 'Clear')      24
Name: count, dtype: int64

In [5]:
df_second['weather_type'].replace("('Clouds', 'Clouds')", "Clouds", inplace=True)
df_second['weather_type'].replace("('Rain', 'Clear')", "Rain", inplace=True)
df_second['weather_type'].replace("('Rain', 'Clouds')", "Rain", inplace=True)
df_second['weather_type'].replace("('Drizzle', 'Clear')", "Drizzle", inplace=True)

In [6]:
df_second['weather_description'].replace("('light rain', 'sky is clear')", "light rain", inplace=True)
df_second['weather_description'].replace("('light intensity drizzle', 'drizzle')", "light intensity drizzle'", inplace=True)
df_second['weather_description'].replace("('light rain', 'few clouds')", "light rain", inplace=True)
df_second['weather_description'].replace("('few clouds', 'few clouds')", "few clouds", inplace=True)
df_second['weather_description'].replace("SQUALLS", "squalls", inplace=True)

In [7]:
df_second['weather_description'].value_counts()

weather_description
sky is clear                    6310
overcast clouds                 1998
scattered clouds                1243
broken clouds                   1157
mist                            1014
light rain                      1012
light snow                       964
few clouds                       706
haze                             571
light intensity drizzle          514
drizzle                          440
fog                              415
moderate rain                    258
heavy intensity rain             170
proximity thunderstorm            51
proximity shower rain             33
heavy intensity drizzle           24
light intensity drizzle'          24
thunderstorm                      14
snow                               9
very heavy rain                    4
thunderstorm with light rain       4
heavy snow                         4
light shower snow                  4
light intensity shower rain        3
squalls                            1
freezing rain                      1
Name: count, dtype: int64

In [8]:
df_second['weather_type'].value_counts()

weather_type
Clear           6271
Clouds          5230
Mist            1562
Rain            1239
Drizzle         1067
Snow             605
Haze             545
Fog              360
Thunderstorm      69
Name: count, dtype: int64

In [9]:
df_second['is_holiday'].replace("not_holiday", "Not a Holiday", inplace=True)

In [10]:
df_second.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,date_time
0,Not a Holiday,282.0,65.0,3.0,327.000000,5.000000,5.000000,287.586000,0.0,0.0,92.000000,Rain,light rain,2886.000000,2015-06-11 20:00:00
1,Not a Holiday,273.0,65.0,3.0,326.909091,5.045455,5.045455,288.038591,0.0,0.0,87.818182,Rain,light rain,2953.909091,2015-06-11 21:00:00
2,Not a Holiday,264.0,65.0,3.0,326.818182,5.090909,5.090909,288.491182,0.0,0.0,83.636364,Rain,light rain,3021.818182,2015-06-11 22:00:00
3,Not a Holiday,255.0,65.0,3.0,326.727273,5.136364,5.136364,288.943773,0.0,0.0,79.454545,Rain,light rain,3089.727273,2015-06-11 23:00:00
4,Not a Holiday,246.0,65.0,3.0,326.636364,5.181818,5.181818,289.396364,0.0,0.0,75.272727,Clear,sky is clear,3157.636364,2015-06-12 00:00:00

In [11]:
round_cols = ['air_pollution_index', 'humidity', 'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point', 'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all', 'traffic_volume']

In [12]:
df_second[round_cols] = df_second[round_cols].round(2)

In [13]:
df_second.info()
df_second.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16948 entries, 0 to 16947
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   is_holiday           16948 non-null  object
 1   air_pollution_index  16948 non-null  float64
 2   humidity             16948 non-null  float64
 3   wind_speed           16948 non-null  float64
 4   wind_direction       16948 non-null  float64
 5   visibility_in_miles  16948 non-null  float64
 6   dew_point            16948 non-null  float64
 7   temperature          16948 non-null  float64
 8   rain_p_h             16948 non-null  float64
 9   snow_p_h             16948 non-null  float64
 10  clouds_all           16948 non-null  float64
 11  weather_type         16948 non-null  object
 12  weather_description  16948 non-null  object
 13  traffic_volume       16948 non-null  float64
 14  date_time            16948 non-null  object
dtypes: float64(11), object(4)
memory usage: 1.9+ MB

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,date_time
0,Not a Holiday,282.0,65.0,3.0,327.00,5.00,5.00,287.59,0.0,0.0,92.00,Rain,light rain,2886.00,2015-06-11 20:00:00
1,Not a Holiday,273.0,65.0,3.0,326.91,5.05,5.05,288.04,0.0,0.0,87.82,Rain,light rain,2953.91,2015-06-11 21:00:00
2,Not a Holiday,264.0,65.0,3.0,326.82,5.09,5.09,288.49,0.0,0.0,83.64,Rain,light rain,3021.82,2015-06-11 22:00:00
3,Not a Holiday,255.0,65.0,3.0,326.73,5.14,5.14,288.94,0.0,0.0,79.45,Rain,light rain,3089.73,2015-06-11 23:00:00
4,Not a Holiday,246.0,65.0,3.0,326.64,5.18,5.18,289.40,0.0,0.0,75.27,Clear,sky is clear,3157.64,2015-06-12 00:00:00

In [14]:
# df_second.to_csv('dataset/secondhalf_v4.csv', index=False)

# One Hot Encode

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [16]:
# Categorical Features
ohe_column = ['is_holiday', 'weather_type', 'weather_description']

In [17]:
encoder_second = OneHotEncoder(sparse=False)

In [18]:
encoded_data_second = encoder_second.fit_transform(df_second[ohe_column])

c:\Users\Naufal\anaconda3\envs\XAI\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [19]:
encoded_data_second

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [20]:
df_encoded_second = pd.DataFrame(encoded_data_second, columns=encoder_second.get_feature_names_out())

In [21]:
df_encoded_second.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16948 entries, 0 to 16947
Data columns (total 48 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   is_holiday_Christmas Day                          16948 non-null  float64
 1   is_holiday_Columbus Day                           16948 non-null  float64
 2   is_holiday_Independence Day                       16948 non-null  float64
 3   is_holiday_Labor Day                              16948 non-null  float64
 4   is_holiday_Martin Luther King Jr Day              16948 non-null  float64
 5   is_holiday_Memorial Day                           16948 non-null  float64
 6   is_holiday_New Years Day                          16948 non-null  float64
 7   is_holiday_Not a Holiday                          16948 non-null  float64
 8   is_holiday_State Fair                             16948 non-null  float64
 9   is_holiday_Thanksgiving Day                       16948 non-null  float64
 10  is_holiday_Veterans Day                           16948 non-null  float64
 11  is_holiday_Washingtons Birthday                   16948 non-null  float64
 12  weather_type_Clear                                16948 non-null  float64
 13  weather_type_Clouds                               16948 non-null  float64
 14  weather_type_Drizzle                              16948 non-null  float64
 15  weather_type_Fog                                  16948 non-null  float64
 16  weather_type_Haze                                 16948 non-null  float64
 17  weather_type_Mist                                 16948 non-null  float64
 18  weather_type_Rain                                 16948 non-null  float64
 19  weather_type_Snow                                 16948 non-null  float64
 20  weather_type_Thunderstorm                         16948 non-null  float64
 21  weather_description_broken clouds                 16948 non-null  float64
 22  weather_description_drizzle                       16948 non-null  float64
 23  weather_description_few clouds                    16948 non-null  float64
 24  weather_description_fog                           16948 non-null  float64
 25  weather_description_freezing rain                 16948 non-null  float64
 26  weather_description_haze                          16948 non-null  float64
 27  weather_description_heavy intensity drizzle       16948 non-null  float64
 28  weather_description_heavy intensity rain          16948 non-null  float64
 29  weather_description_heavy snow                    16948 non-null  float64
 30  weather_description_light intensity drizzle       16948 non-null  float64
 31  weather_description_light intensity drizzle'      16948 non-null  float64
 32  weather_description_light intensity shower rain   16948 non-null  float64
 33  weather_description_light rain                    16948 non-null  float64
 34  weather_description_light shower snow             16948 non-null  float64
 35  weather_description_light snow                    16948 non-null  float64
 36  weather_description_mist                          16948 non-null  float64
 37  weather_description_moderate rain                 16948 non-null  float64
 38  weather_description_overcast clouds               16948 non-null  float64
 39  weather_description_proximity shower rain         16948 non-null  float64
 40  weather_description_proximity thunderstorm        16948 non-null  float64
 41  weather_description_scattered clouds              16948 non-null  float64
 42  weather_description_sky is clear                  16948 non-null  float64
 43  weather_description_snow                          16948 non-null  float64
 44  weather_description_squalls                       16948 non-null  float64
 45  weather_description_thunderstorm                  16948 non-null  float64
 46  weather_description_thunderstorm with light rain  16948 non-null  float64
 47  weather_description_very heavy rain               16948 non-null  float64
dtypes: float64(48)
memory usage: 6.2 MB

Simpan encoder agar dapat digunakan kembali pada pengolahan data lainnya.

In [22]:
import joblib

# Save the encoder to a file so can be used in other files
# joblib.dump(encoder_second, 'outputs/OHE_encoder_second_v3.joblib')

# Concat Encoded Cols to Main df

In [23]:
df_concated_second = pd.concat([df_second, df_encoded_second], axis=1)

In [24]:
df_concated_second.drop(columns=['is_holiday', 'weather_type', 'weather_description'], inplace=True)

In [25]:
df_concated_second.info()
df_concated_second.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16948 entries, 0 to 16947
Data columns (total 60 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   air_pollution_index                               16948 non-null  float64
 1   humidity                                          16948 non-null  float64
 2   wind_speed                                        16948 non-null  float64
 3   wind_direction                                    16948 non-null  float64
 4   visibility_in_miles                               16948 non-null  float64
 5   dew_point                                         16948 non-null  float64
 6   temperature                                       16948 non-null  float64
 7   rain_p_h                                          16948 non-null  float64
 8   snow_p_h                                          16948 non-null  float64
 9   clouds_all                                        16948 non-null  float64
 10  traffic_volume                                    16948 non-null  float64
 11  date_time                                         16948 non-null  object
 12  is_holiday_Christmas Day                          16948 non-null  float64
 13  is_holiday_Columbus Day                           16948 non-null  float64
 14  is_holiday_Independence Day                       16948 non-null  float64
 15  is_holiday_Labor Day                              16948 non-null  float64
 16  is_holiday_Martin Luther King Jr Day              16948 non-null  float64
 17  is_holiday_Memorial Day                           16948 non-null  float64
 18  is_holiday_New Years Day                          16948 non-null  float64
 19  is_holiday_Not a Holiday                          16948 non-null  float64
 20  is_holiday_State Fair                             16948 non-null  float64
 21  is_holiday_Thanksgiving Day                       16948 non-null  float64
 22  is_holiday_Veterans Day                           16948 non-null  float64
 23  is_holiday_Washingtons Birthday                   16948 non-null  float64
 24  weather_type_Clear                                16948 non-null  float64
 25  weather_type_Clouds                               16948 non-null  float64
 26  weather_type_Drizzle                              16948 non-null  float64
 27  weather_type_Fog                                  16948 non-null  float64
 28  weather_type_Haze                                 16948 non-null  float64
 29  weather_type_Mist                                 16948 non-null  float64
 30  weather_type_Rain                                 16948 non-null  float64
 31  weather_type_Snow                                 16948 non-null  float64
 32  weather_type_Thunderstorm                         16948 non-null  float64
 33  weather_description_broken clouds                 16948 non-null  float64
 34  weather_description_drizzle                       16948 non-null  float64
 35  weather_description_few clouds                    16948 non-null  float64
 36  weather_description_fog                           16948 non-null  float64
 37  weather_description_freezing rain                 16948 non-null  float64
 38  weather_description_haze                          16948 non-null  float64
 39  weather_description_heavy intensity drizzle       16948 non-null  float64
 40  weather_description_heavy intensity rain          16948 non-null  float64
 41  weather_description_heavy snow                    16948 non-null  float64
 42  weather_description_light intensity drizzle       16948 non-null  float64
 43  weather_description_light intensity drizzle'      16948 non-null  float64
 44  weather_description_light intensity shower rain   16948 non-null  float64
 45  weather_description_light rain                    16948 non-null  float64
 46  weather_description_light shower snow             16948 non-null  float64
 47  weather_description_light snow                    16948 non-null  float64
 48  weather_description_mist                          16948 non-null  float64
 49  weather_description_moderate rain                 16948 non-null  float64
 50  weather_description_overcast clouds               16948 non-null  float64
 51  weather_description_proximity shower rain         16948 non-null  float64
 52  weather_description_proximity thunderstorm        16948 non-null  float64
 53  weather_description_scattered clouds              16948 non-null  float64
 54  weather_description_sky is clear                  16948 non-null  float64
 55  weather_description_snow                          16948 non-null  float64
 56  weather_description_squalls                       16948 non-null  float64
 57  weather_description_thunderstorm                  16948 non-null  float64
 58  weather_description_thunderstorm with light rain  16948 non-null  float64
 59  weather_description_very heavy rain               16948 non-null  float64
dtypes: float64(59), object(1)
memory usage: 7.8+ MB

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,weather_description_overcast clouds,weather_description_proximity shower rain,weather_description_proximity thunderstorm,weather_description_scattered clouds,weather_description_sky is clear,weather_description_snow,weather_description_squalls,weather_description_thunderstorm,weather_description_thunderstorm with light rain,weather_description_very heavy rain
0,282.0,65.0,3.0,327.00,5.00,5.00,287.59,0.0,0.0,92.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,273.0,65.0,3.0,326.91,5.05,5.05,288.04,0.0,0.0,87.82,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,264.0,65.0,3.0,326.82,5.09,5.09,288.49,0.0,0.0,83.64,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,255.0,65.0,3.0,326.73,5.14,5.14,288.94,0.0,0.0,79.45,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,246.0,65.0,3.0,326.64,5.18,5.18,289.40,0.0,0.0,75.27,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

# Feature Engineering

In [26]:
df_concated_second['date_time'] = pd.to_datetime(df_concated_second['date_time'])
# Extracting date, month, and time
df_concated_second['day'] = df_concated_second['date_time'].dt.day
df_concated_second['month'] = df_concated_second['date_time'].dt.month
df_concated_second['hour'] = df_concated_second['date_time'].dt.hour

In [27]:
# Put Target column to the last column
df_target_second = df_concated_second['traffic_volume']
df_concated_second.drop(columns=['traffic_volume'], inplace=True)
df_concated_second['traffic_volume'] = df_target_second

In [28]:
# Display the updated DataFrame
df_concated_second.info()
df_concated_second.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16948 entries, 0 to 16947
Data columns (total 63 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   air_pollution_index                               16948 non-null  float64
 1   humidity                                          16948 non-null  float64
 2   wind_speed                                        16948 non-null  float64
 3   wind_direction                                    16948 non-null  float64
 4   visibility_in_miles                               16948 non-null  float64
 5   dew_point                                         16948 non-null  float64
 6   temperature                                       16948 non-null  float64
 7   rain_p_h                                          16948 non-null  float64
 8   snow_p_h                                          16948 non-null  float64
 9   clouds_all                                        16948 non-null  float64
 10  date_time                                         16948 non-null  datetime64[ns]
 11  is_holiday_Christmas Day                          16948 non-null  float64
 12  is_holiday_Columbus Day                           16948 non-null  float64
 13  is_holiday_Independence Day                       16948 non-null  float64
 14  is_holiday_Labor Day                              16948 non-null  float64
 15  is_holiday_Martin Luther King Jr Day              16948 non-null  float64
 16  is_holiday_Memorial Day                           16948 non-null  float64
 17  is_holiday_New Years Day                          16948 non-null  float64
 18  is_holiday_Not a Holiday                          16948 non-null  float64
 19  is_holiday_State Fair                             16948 non-null  float64
 20  is_holiday_Thanksgiving Day                       16948 non-null  float64
 21  is_holiday_Veterans Day                           16948 non-null  float64
 22  is_holiday_Washingtons Birthday                   16948 non-null  float64
 23  weather_type_Clear                                16948 non-null  float64
 24  weather_type_Clouds                               16948 non-null  float64
 25  weather_type_Drizzle                              16948 non-null  float64
 26  weather_type_Fog                                  16948 non-null  float64
 27  weather_type_Haze                                 16948 non-null  float64
 28  weather_type_Mist                                 16948 non-null  float64
 29  weather_type_Rain                                 16948 non-null  float64
 30  weather_type_Snow                                 16948 non-null  float64
 31  weather_type_Thunderstorm                         16948 non-null  float64
 32  weather_description_broken clouds                 16948 non-null  float64
 33  weather_description_drizzle                       16948 non-null  float64
 34  weather_description_few clouds                    16948 non-null  float64
 35  weather_description_fog                           16948 non-null  float64
 36  weather_description_freezing rain                 16948 non-null  float64
 37  weather_description_haze                          16948 non-null  float64
 38  weather_description_heavy intensity drizzle       16948 non-null  float64
 39  weather_description_heavy intensity rain          16948 non-null  float64
 40  weather_description_heavy snow                    16948 non-null  float64
 41  weather_description_light intensity drizzle       16948 non-null  float64
 42  weather_description_light intensity drizzle'      16948 non-null  float64
 43  weather_description_light intensity shower rain   16948 non-null  float64
 44  weather_description_light rain                    16948 non-null  float64
 45  weather_description_light shower snow             16948 non-null  float64
 46  weather_description_light snow                    16948 non-null  float64
 47  weather_description_mist                          16948 non-null  float64
 48  weather_description_moderate rain                 16948 non-null  float64
 49  weather_description_overcast clouds               16948 non-null  float64
 50  weather_description_proximity shower rain         16948 non-null  float64
 51  weather_description_proximity thunderstorm        16948 non-null  float64
 52  weather_description_scattered clouds              16948 non-null  float64
 53  weather_description_sky is clear                  16948 non-null  float64
 54  weather_description_snow                          16948 non-null  float64
 55  weather_description_squalls                       16948 non-null  float64
 56  weather_description_thunderstorm                  16948 non-null  float64
 57  weather_description_thunderstorm with light rain  16948 non-null  float64
 58  weather_description_very heavy rain               16948 non-null  float64
 59  day                                               16948 non-null  int32
 60  month                                             16948 non-null  int32
 61  hour                                              16948 non-null  int32
 62  traffic_volume                                    16948 non-null  float64
dtypes: datetime64[ns](1), float64(59), int32(3)
memory usage: 8.0 MB

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,weather_description_sky is clear,weather_description_snow,weather_description_squalls,weather_description_thunderstorm,weather_description_thunderstorm with light rain,weather_description_very heavy rain,day,month,hour,traffic_volume
0,282.0,65.0,3.0,327.00,5.00,5.00,287.59,0.0,0.0,92.00,...,0.0,0.0,0.0,0.0,0.0,0.0,11,6,20,2886.00
1,273.0,65.0,3.0,326.91,5.05,5.05,288.04,0.0,0.0,87.82,...,0.0,0.0,0.0,0.0,0.0,0.0,11,6,21,2953.91
2,264.0,65.0,3.0,326.82,5.09,5.09,288.49,0.0,0.0,83.64,...,0.0,0.0,0.0,0.0,0.0,0.0,11,6,22,3021.82
3,255.0,65.0,3.0,326.73,5.14,5.14,288.94,0.0,0.0,79.45,...,0.0,0.0,0.0,0.0,0.0,0.0,11,6,23,3089.73
4,246.0,65.0,3.0,326.64,5.18,5.18,289.40,0.0,0.0,75.27,...,1.0,0.0,0.0,0.0,0.0,0.0,12,6,0,3157.64

In [29]:
# df_concated_second.to_csv('dataset/df_concated_second')

In [30]:
# Set the 'datetime_col' as the index of the DataFrame
df_concated_second = df_concated_second.set_index('date_time')

In [31]:
df_concated_second.info()
df_concated_second.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 16948 entries, 2015-06-11 20:00:00 to 2017-05-17 23:00:00
Data columns (total 62 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   air_pollution_index                               16948 non-null  float64
 1   humidity                                          16948 non-null  float64
 2   wind_speed                                        16948 non-null  float64
 3   wind_direction                                    16948 non-null  float64
 4   visibility_in_miles                               16948 non-null  float64
 5   dew_point                                         16948 non-null  float64
 6   temperature                                       16948 non-null  float64
 7   rain_p_h                                          16948 non-null  float64
 8   snow_p_h                                          16948 non-null  float64
 9   clouds_all                                        16948 non-null  float64
 10  is_holiday_Christmas Day                          16948 non-null  float64
 11  is_holiday_Columbus Day                           16948 non-null  float64
 12  is_holiday_Independence Day                       16948 non-null  float64
 13  is_holiday_Labor Day                              16948 non-null  float64
 14  is_holiday_Martin Luther King Jr Day              16948 non-null  float64
 15  is_holiday_Memorial Day                           16948 non-null  float64
 16  is_holiday_New Years Day                          16948 non-null  float64
 17  is_holiday_Not a Holiday                          16948 non-null  float64
 18  is_holiday_State Fair                             16948 non-null  float64
 19  is_holiday_Thanksgiving Day                       16948 non-null  float64
 20  is_holiday_Veterans Day                           16948 non-null  float64
 21  is_holiday_Washingtons Birthday                   16948 non-null  float64
 22  weather_type_Clear                                16948 non-null  float64
 23  weather_type_Clouds                               16948 non-null  float64
 24  weather_type_Drizzle                              16948 non-null  float64
 25  weather_type_Fog                                  16948 non-null  float64
 26  weather_type_Haze                                 16948 non-null  float64
 27  weather_type_Mist                                 16948 non-null  float64
 28  weather_type_Rain                                 16948 non-null  float64
 29  weather_type_Snow                                 16948 non-null  float64
 30  weather_type_Thunderstorm                         16948 non-null  float64
 31  weather_description_broken clouds                 16948 non-null  float64
 32  weather_description_drizzle                       16948 non-null  float64
 33  weather_description_few clouds                    16948 non-null  float64
 34  weather_description_fog                           16948 non-null  float64
 35  weather_description_freezing rain                 16948 non-null  float64
 36  weather_description_haze                          16948 non-null  float64
 37  weather_description_heavy intensity drizzle       16948 non-null  float64
 38  weather_description_heavy intensity rain          16948 non-null  float64
 39  weather_description_heavy snow                    16948 non-null  float64
 40  weather_description_light intensity drizzle       16948 non-null  float64
 41  weather_description_light intensity drizzle'      16948 non-null  float64
 42  weather_description_light intensity shower rain   16948 non-null  float64
 43  weather_description_light rain                    16948 non-null  float64
 44  weather_description_light shower snow             16948 non-null  float64
 45  weather_description_light snow                    16948 non-null  float64
 46  weather_description_mist                          16948 non-null  float64
 47  weather_description_moderate rain                 16948 non-null  float64
 48  weather_description_overcast clouds               16948 non-null  float64
 49  weather_description_proximity shower rain         16948 non-null  float64
 50  weather_description_proximity thunderstorm        16948 non-null  float64
 51  weather_description_scattered clouds              16948 non-null  float64
 52  weather_description_sky is clear                  16948 non-null  float64
 53  weather_description_snow                          16948 non-null  float64
 54  weather_description_squalls                       16948 non-null  float64
 55  weather_description_thunderstorm                  16948 non-null  float64
 56  weather_description_thunderstorm with light rain  16948 non-null  float64
 57  weather_description_very heavy rain               16948 non-null  float64
 58  day                                               16948 non-null  int32
 59  month                                             16948 non-null  int32
 60  hour                                              16948 non-null  int32
 61  traffic_volume                                    16948 non-null  float64
dtypes: float64(59), int32(3)
memory usage: 8.0 MB

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,weather_description_sky is clear,weather_description_snow,weather_description_squalls,weather_description_thunderstorm,weather_description_thunderstorm with light rain,weather_description_very heavy rain,day,month,hour,traffic_volume
date_time,,,,,,,,,,,,,,,,,,,,,
2015-06-11 20:00:00,282.0,65.0,3.0,327.00,5.00,5.00,287.59,0.0,0.0,92.00,...,0.0,0.0,0.0,0.0,0.0,0.0,11,6,20,2886.00
2015-06-11 21:00:00,273.0,65.0,3.0,326.91,5.05,5.05,288.04,0.0,0.0,87.82,...,0.0,0.0,0.0,0.0,0.0,0.0,11,6,21,2953.91
2015-06-11 22:00:00,264.0,65.0,3.0,326.82,5.09,5.09,288.49,0.0,0.0,83.64,...,0.0,0.0,0.0,0.0,0.0,0.0,11,6,22,3021.82
2015-06-11 23:00:00,255.0,65.0,3.0,326.73,5.14,5.14,288.94,0.0,0.0,79.45,...,0.0,0.0,0.0,0.0,0.0,0.0,11,6,23,3089.73
2015-06-12 00:00:00,246.0,65.0,3.0,326.64,5.18,5.18,289.40,0.0,0.0,75.27,...,1.0,0.0,0.0,0.0,0.0,0.0,12,6,0,3157.64

# MinMaxScaler

In [32]:
from sklearn.preprocessing import MinMaxScaler

In [33]:
scaler_second = MinMaxScaler()
scaler_second = scaler_second.fit(df_concated_second)
scaled_data_second = scaler_second.transform(df_concated_second)

In [34]:
import joblib

# Save the scaler to a file so can be used in other files
# joblib.dump(scaler_second, 'outputs/MM_scaler_second_v2.joblib')

In [35]:
df_scaled_second = pd.DataFrame(scaled_data_second, columns=scaler_second.get_feature_names_out())

In [36]:
df_scaled_second.index = df_concated_second.index

In [37]:
df_scaled_second.info()
df_scaled_second.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 16948 entries, 2015-06-11 20:00:00 to 2017-05-17 23:00:00
Data columns (total 62 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   air_pollution_index                               16948 non-null  float64
 1   humidity                                          16948 non-null  float64
 2   wind_speed                                        16948 non-null  float64
 3   wind_direction                                    16948 non-null  float64
 4   visibility_in_miles                               16948 non-null  float64
 5   dew_point                                         16948 non-null  float64
 6   temperature                                       16948 non-null  float64
 7   rain_p_h                                          16948 non-null  float64
 8   snow_p_h                                          16948 non-null  float64
 9   clouds_all                                        16948 non-null  float64
 10  is_holiday_Christmas Day                          16948 non-null  float64
 11  is_holiday_Columbus Day                           16948 non-null  float64
 12  is_holiday_Independence Day                       16948 non-null  float64
 13  is_holiday_Labor Day                              16948 non-null  float64
 14  is_holiday_Martin Luther King Jr Day              16948 non-null  float64
 15  is_holiday_Memorial Day                           16948 non-null  float64
 16  is_holiday_New Years Day                          16948 non-null  float64
 17  is_holiday_Not a Holiday                          16948 non-null  float64
 18  is_holiday_State Fair                             16948 non-null  float64
 19  is_holiday_Thanksgiving Day                       16948 non-null  float64
 20  is_holiday_Veterans Day                           16948 non-null  float64
 21  is_holiday_Washingtons Birthday                   16948 non-null  float64
 22  weather_type_Clear                                16948 non-null  float64
 23  weather_type_Clouds                               16948 non-null  float64
 24  weather_type_Drizzle                              16948 non-null  float64
 25  weather_type_Fog                                  16948 non-null  float64
 26  weather_type_Haze                                 16948 non-null  float64
 27  weather_type_Mist                                 16948 non-null  float64
 28  weather_type_Rain                                 16948 non-null  float64
 29  weather_type_Snow                                 16948 non-null  float64
 30  weather_type_Thunderstorm                         16948 non-null  float64
 31  weather_description_broken clouds                 16948 non-null  float64
 32  weather_description_drizzle                       16948 non-null  float64
 33  weather_description_few clouds                    16948 non-null  float64
 34  weather_description_fog                           16948 non-null  float64
 35  weather_description_freezing rain                 16948 non-null  float64
 36  weather_description_haze                          16948 non-null  float64
 37  weather_description_heavy intensity drizzle       16948 non-null  float64
 38  weather_description_heavy intensity rain          16948 non-null  float64
 39  weather_description_heavy snow                    16948 non-null  float64
 40  weather_description_light intensity drizzle       16948 non-null  float64
 41  weather_description_light intensity drizzle'      16948 non-null  float64
 42  weather_description_light intensity shower rain   16948 non-null  float64
 43  weather_description_light rain                    16948 non-null  float64
 44  weather_description_light shower snow             16948 non-null  float64
 45  weather_description_light snow                    16948 non-null  float64
 46  weather_description_mist                          16948 non-null  float64
 47  weather_description_moderate rain                 16948 non-null  float64
 48  weather_description_overcast clouds               16948 non-null  float64
 49  weather_description_proximity shower rain         16948 non-null  float64
 50  weather_description_proximity thunderstorm        16948 non-null  float64
 51  weather_description_scattered clouds              16948 non-null  float64
 52  weather_description_sky is clear                  16948 non-null  float64
 53  weather_description_snow                          16948 non-null  float64
 54  weather_description_squalls                       16948 non-null  float64
 55  weather_description_thunderstorm                  16948 non-null  float64
 56  weather_description_thunderstorm with light rain  16948 non-null  float64
 57  weather_description_very heavy rain               16948 non-null  float64
 58  day                                               16948 non-null  float64
 59  month                                             16948 non-null  float64
 60  hour                                              16948 non-null  float64
 61  traffic_volume                                    16948 non-null  float64
dtypes: float64(62)
memory usage: 8.1 MB

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,weather_description_sky is clear,weather_description_snow,weather_description_squalls,weather_description_thunderstorm,weather_description_thunderstorm with light rain,weather_description_very heavy rain,day,month,hour,traffic_volume
date_time,,,,,,,,,,,,,,,,,,,,,
2015-06-11 20:00:00,0.941176,0.583333,0.1875,0.908333,0.50000,0.50000,0.691273,0.0,0.0,0.9200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.454545,0.869565,0.396429
2015-06-11 21:00:00,0.910035,0.583333,0.1875,0.908083,0.50625,0.50625,0.698311,0.0,0.0,0.8782,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.454545,0.913043,0.405757
2015-06-11 22:00:00,0.878893,0.583333,0.1875,0.907833,0.51125,0.51125,0.705349,0.0,0.0,0.8364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.454545,0.956522,0.415085
2015-06-11 23:00:00,0.847751,0.583333,0.1875,0.907583,0.51750,0.51750,0.712387,0.0,0.0,0.7945,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.454545,1.000000,0.424413
2015-06-12 00:00:00,0.816609,0.583333,0.1875,0.907333,0.52250,0.52250,0.719581,0.0,0.0,0.7527,...,1.0,0.0,0.0,0.0,0.0,0.0,0.366667,0.454545,0.000000,0.433742

# Reshape to fit RNN needs

In [38]:
df_scaled_second.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 16948 entries, 2015-06-11 20:00:00 to 2017-05-17 23:00:00
Data columns (total 62 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   air_pollution_index                               16948 non-null  float64
 1   humidity                                          16948 non-null  float64
 2   wind_speed                                        16948 non-null  float64
 3   wind_direction                                    16948 non-null  float64
 4   visibility_in_miles                               16948 non-null  float64
 5   dew_point                                         16948 non-null  float64
 6   temperature                                       16948 non-null  float64
 7   rain_p_h                                          16948 non-null  float64
 8   snow_p_h                                          16948 non-null  float64
 9   clouds_all                                        16948 non-null  float64
 10  is_holiday_Christmas Day                          16948 non-null  float64
 11  is_holiday_Columbus Day                           16948 non-null  float64
 12  is_holiday_Independence Day                       16948 non-null  float64
 13  is_holiday_Labor Day                              16948 non-null  float64
 14  is_holiday_Martin Luther King Jr Day              16948 non-null  float64
 15  is_holiday_Memorial Day                           16948 non-null  float64
 16  is_holiday_New Years Day                          16948 non-null  float64
 17  is_holiday_Not a Holiday                          16948 non-null  float64
 18  is_holiday_State Fair                             16948 non-null  float64
 19  is_holiday_Thanksgiving Day                       16948 non-null  float64
 20  is_holiday_Veterans Day                           16948 non-null  float64
 21  is_holiday_Washingtons Birthday                   16948 non-null  float64
 22  weather_type_Clear                                16948 non-null  float64
 23  weather_type_Clouds                               16948 non-null  float64
 24  weather_type_Drizzle                              16948 non-null  float64
 25  weather_type_Fog                                  16948 non-null  float64
 26  weather_type_Haze                                 16948 non-null  float64
 27  weather_type_Mist                                 16948 non-null  float64
 28  weather_type_Rain                                 16948 non-null  float64
 29  weather_type_Snow                                 16948 non-null  float64
 30  weather_type_Thunderstorm                         16948 non-null  float64
 31  weather_description_broken clouds                 16948 non-null  float64
 32  weather_description_drizzle                       16948 non-null  float64
 33  weather_description_few clouds                    16948 non-null  float64
 34  weather_description_fog                           16948 non-null  float64
 35  weather_description_freezing rain                 16948 non-null  float64
 36  weather_description_haze                          16948 non-null  float64
 37  weather_description_heavy intensity drizzle       16948 non-null  float64
 38  weather_description_heavy intensity rain          16948 non-null  float64
 39  weather_description_heavy snow                    16948 non-null  float64
 40  weather_description_light intensity drizzle       16948 non-null  float64
 41  weather_description_light intensity drizzle'      16948 non-null  float64
 42  weather_description_light intensity shower rain   16948 non-null  float64
 43  weather_description_light rain                    16948 non-null  float64
 44  weather_description_light shower snow             16948 non-null  float64
 45  weather_description_light snow                    16948 non-null  float64
 46  weather_description_mist                          16948 non-null  float64
 47  weather_description_moderate rain                 16948 non-null  float64
 48  weather_description_overcast clouds               16948 non-null  float64
 49  weather_description_proximity shower rain         16948 non-null  float64
 50  weather_description_proximity thunderstorm        16948 non-null  float64
 51  weather_description_scattered clouds              16948 non-null  float64
 52  weather_description_sky is clear                  16948 non-null  float64
 53  weather_description_snow                          16948 non-null  float64
 54  weather_description_squalls                       16948 non-null  float64
 55  weather_description_thunderstorm                  16948 non-null  float64
 56  weather_description_thunderstorm with light rain  16948 non-null  float64
 57  weather_description_very heavy rain               16948 non-null  float64
 58  day                                               16948 non-null  float64
 59  month                                             16948 non-null  float64
 60  hour                                              16948 non-null  float64
 61  traffic_volume                                    16948 non-null  float64
dtypes: float64(62)
memory usage: 8.1 MB

In [40]:
# df_scaled_second.to_csv('outputs/dataset_for_kaggle.csv')

In [41]:
trainX_second = []
trainY_second = []

In [42]:
n_future = 1   # Number of data we want to look into the future based on the past data.
n_past = 24  # Number of past data we want to use to predict the future.

In [43]:
for i in range(n_past, len(scaled_data_second) - n_future +1):
    trainX_second.append(scaled_data_second[i - n_past:i, 0:df_scaled_second.shape[1]])
    trainY_second.append(scaled_data_second[i + n_future - 1:i + n_future, -1])

trainX_second, trainY_second = np.array(trainX_second), np.array(trainY_second)

In [49]:
print('trainX_second shape == {}.'.format(trainX_second.shape))
print('trainY_second shape == {}.'.format(trainY_second.shape))

trainX_second shape == (16924, 24, 62).
trainY_second shape == (16924, 1).

In [50]:
np.save('outputs/train_x_second_v3.npy', trainX_second)
np.save('outputs/train_y_second_v3.npy', trainY_second)